{%extends 'layout.html'%} {%block body%}
<section id="home">
  <h1 class="text-center justify-content-center center">
    Welcome to Cloud Storage
  </h1>
  <h4 class="text-center">The best place to store your data</h4>
  <div class="container pt-lg-5">
    <p class="">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ut odit
      numquam magni eligendi architecto excepturi ex ea quod, porro temporibus
      voluptate. Exercitationem iure odio, distinctio nisi dignissimos placeat
      a?

      
    </p>
    <h1>{{ msg }}</h1>
  </div>
</section>

{% endblock%}
